.arrow-back{
  transition: transform 0.3s;
}

.open-selector .arrow-back{
  transform: rotate(-90deg);
}

.selected-currency{
  transition: border-radius 0.3s 0.2s;
}

.open-selector .selected-currency{
  transition: none;
}

.currencies-list{
  height: 0;
  transition: height 0.3s, border-width 0.2s 0.15s;
  border-top: none;  
  border-bottom-width: 0;
}

.open-selector .currencies-list{
  border-bottom-width: 1px;
}
