@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

main{
  min-height: calc(100vh - 94px);
}

button.key{
  box-shadow: 3px 4px 0 #0f172a, -3px 4px 0 #0f172a;
  margin-top: 10px;
  transition: margin 0.3s, background-color 0.3s, opacity 0.3s;
}

button.key strong{
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

button.key span{
  transition: height 0.3s;
}

button.key.locked, button.key.pressed{
  opacity: 80%;
  margin-top: 16px;
}

button.key.locked span, button.key.pressed span{
  height: 2px;
}
