.key-button{
  box-shadow: 3px 4px 0 #0f172a, -3px 4px 0 #0f172a;
}

.key-button span{
  transition: opacity 0.3s ease;
}

.key-button div{
  transition: height 0.3s ease;
}

.pressed span{
  opacity: 80%;
}

.pressed div{
  height: 2px;
}